@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-SemiBold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-Medium.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-SemiBold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-LightItalic.woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-Italic.woff2');
    font-weight: 400;
    font-style: italic;
}