/*
Root
*/

:root {
    font-size: 16px;
}

/*
Global
*/

#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
}

/*
Main wrapper
*/

.view {
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.5s,
        visibility 0s 0.5s;
}

.view.is-active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

/*
Individual sections
*/

#portfolio-davide {
    background-color: black;
}

#portfolio-cesare {
    background-color: red;
}

/*
Cards
*/

.card-outer {
    width: 380px;
    height: 600px;
    background-color: green;
}